.admin-wrapper {
  nav {
    margin-bottom: 16px;
    a {
      padding: 0 16px;
    }
  }
}

.user-list-wrapper {
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
}
